.cover {
    grid-area: cover;
    border-radius: 5px;
}

.avaDescBlock {
    grid-area: avaDesc;
    display: grid;
    grid-template-areas: "ava description";
    grid-template-columns: 170px 1fr;
    grid-gap: 10px;
}
.avatar {
    grid-area: ava;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(226, 226, 226), 0 0 3px #333;
}

.description {
    grid-area: description;
    color: #22B37F;
}

