/*App*/
.App {
  margin: 0 auto;
  width: 70%;
  display: grid;
  grid-template-areas: "header header" "navbar content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 6fr;
  grid-gap: 10px;
}

.content {
  grid-area: content;
}
/*
border-radius: 50px;
box-shadow: 0 0 0 1px rgb(226, 226, 226), 0 0 3px #333;*/

